.App {
  text-align: center;
}

h1 {
  margin: 0;
}

#slogan {
  margin: 0; 
}
#calendar {
  background: white;
  width: 90%;
  margin: 20px;
  color: black;
  padding: 20px;
}
button{
  background-color:black;
  color: white;
  border: 0;
  font-size: 24px;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

#admin{
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  color: blue;
}

#setting-button{
  background: limegreen;
  color: white;
}

.App-header {
  background-color: #467ff3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
